name: Maven CI/CD

on:
 push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build_and_test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 16
      uses: actions/setup-java@v1
      with:
        java-version: 16

    - name: Build project with Maven
      run: mvn -B package --file pom.xml

    - uses: actions/upload-artifact@v2
    - name: Upload artifacts
      with:
        name: build-artifacts
        path: targets/*.jar
